.lk-blog-content {
  width: 920px;
  margin: 0 10px
  /*blog comments*/
  /*comment list*/ }
  .lk-blog-content .lk-blog-list-item {
    padding: 20px 30px 25px 30px;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; }
    .lk-blog-content .lk-blog-list-item:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); }
    .lk-blog-content .lk-blog-list-item .header h1 {
      width: 80%;
      font-size: 18px;
      line-height: 20px;
      position: relative;
      border-bottom: 1px solid #e8e9e7;
      padding: 5px 130px 5px 0; }
      .lk-blog-content .lk-blog-list-item .header h1 p {
        color: #989997;
        font-size: 12px;
        word-spacing: 5px;
        font-weight: 400;
        text-indent: 5px; }
      .lk-blog-content .lk-blog-list-item .header h1 a {
        word-break: break-all;
        color: #515250;
        text-decoration: none;
        -webkit-transition: all .3s linear;
                transition: all .3s linear;
        line-height: 20px; }
        .lk-blog-content .lk-blog-list-item .header h1 a:hover {
          color: #d08a88;
          text-decoration: underline; }
      .lk-blog-content .lk-blog-list-item .header h1 span.oringinal {
        color: #ae4744;
        display: inline-block;
        vertical-align: bottom; }
    .lk-blog-content .lk-blog-list-item .header .date-time {
      width: 82px;
      height: 51px;
      position: absolute;
      top: 0;
      right: 25px; }
      .lk-blog-content .lk-blog-list-item .header .date-time span {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 5px; }
        .lk-blog-content .lk-blog-list-item .header .date-time span.day {
          color: #ae4744;
          font-weight: bold;
          font-size: 32px; }
        .lk-blog-content .lk-blog-list-item .header .date-time span.date {
          color: #989997;
          text-align: justify;
          font-size: 16px; }
    .lk-blog-content .lk-blog-list-item .content {
      padding: 20px 0 0 0;
      line-height: 30px;
      font-size: 14px;
      word-wrap: break-word;
      word-break: break-all; }
      .lk-blog-content .lk-blog-list-item .content h2 {
        border-left: 5px solid #AE4744;
        padding: 5px;
        padding-left: 10px;
        margin: 20px 0;
        background: #fff;
        font-size: 20px;
        clear: both;
        background-color: #f8f9f7; }
      .lk-blog-content .lk-blog-list-item .content pre {
        margin: 10px 0;
        clear: both; }
      .lk-blog-content .lk-blog-list-item .content p {
        margin: 10px 0;
        clear: both; }
      .lk-blog-content .lk-blog-list-item .content a {
        color: #ae4744;
        text-decoration: none;
        -webkit-transition: all .3s linear;
                transition: all .3s linear;
        display: inline-block; }
        .lk-blog-content .lk-blog-list-item .content a:hover {
          color: #401a19;
          text-decoration: underline; }
      .lk-blog-content .lk-blog-list-item .content blockquote {
        background-color: #f8f9f7;
        padding: 15px;
        font-style: oblique; }
      .lk-blog-content .lk-blog-list-item .content strong {
        font-weight: bold;
        line-height: 30px; }
      .lk-blog-content .lk-blog-list-item .content table {
        width: 100%;
        border-collapse: collapse;
        /*clolapse border*/
        border: 1px solid #e8e9e7;
        color: #515250; }
        .lk-blog-content .lk-blog-list-item .content table th, .lk-blog-content .lk-blog-list-item .content table td {
          padding: 10px;
          border-bottom: 1px solid #e8e9e7;
          border-left: 1px solid #e8e9e7; }
        .lk-blog-content .lk-blog-list-item .content table th {
          background-color: #f1f2f0;
          font-weight: 400; }
        .lk-blog-content .lk-blog-list-item .content table td {
          background-color: #fff; }
      .lk-blog-content .lk-blog-list-item .content img {
        margin: 10px 0;
        display: block;
        max-width: 100%;
        height: auto;
        width: auto;
        cursor: pointer; }
        .lk-blog-content .lk-blog-list-item .content img:after {
          clear: both;
          content: '';
          display: block;
          float: left; }
      .lk-blog-content .lk-blog-list-item .content img.thumbnail {
        width: 300px;
        height: auto;
        margin: 0 10px 10px 0;
        border: 1px solid #e8e9e7;
        cursor: pointer;
        -webkit-transition: all .3s linear;
                transition: all .3s linear;
        padding: 15px; }
        .lk-blog-content .lk-blog-list-item .content img.thumbnail:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .lk-blog-content .lk-blog-list-item .footer .continute-read a {
      display: block;
      height: 25px;
      line-height: 25px;
      color: #ae4744;
      margin: 10px 0;
      width: 100%;
      position: relative;
      text-decoration: none; }
      .lk-blog-content .lk-blog-list-item .footer .continute-read a::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: 0;
        border-bottom: 1px solid #d0d0d0;
        top: 50%;
        width: 90%; }
      .lk-blog-content .lk-blog-list-item .footer .continute-read a:hover {
        color: #c26663;
        text-decoration: underline; }
    .lk-blog-content .lk-blog-list-item .footer .tags {
      font-size: 12px; }
      .lk-blog-content .lk-blog-list-item .footer .tags span {
        display: inline-block;
        padding: 5px;
        margin: 0 5px 5px 0;
        background-color: #efe3dc;
        -webkit-transition: all .3s linear;
                transition: all .3s linear;
        cursor: pointer; }
        .lk-blog-content .lk-blog-list-item .footer .tags span:hover {
          background-color: #be8e74;
          color: #fff; }
    .lk-blog-content .lk-blog-list-item .footer .readcount {
      font-size: 12px; }
      .lk-blog-content .lk-blog-list-item .footer .readcount span, .lk-blog-content .lk-blog-list-item .footer .readcount a {
        display: inline-block;
        padding: 5px; }
      .lk-blog-content .lk-blog-list-item .footer .readcount a {
        text-decoration: none; }
        .lk-blog-content .lk-blog-list-item .footer .readcount a:hover {
          color: #8b5b41; }
    .lk-blog-content .lk-blog-list-item .footer div.copyright {
      background-color: #f8f9f7;
      color: #8c8d8c;
      margin: 10px 0; }
      .lk-blog-content .lk-blog-list-item .footer div.copyright li {
        list-style-type: none;
        line-height: 25px; }
        .lk-blog-content .lk-blog-list-item .footer div.copyright li a {
          display: inline-block;
          color: #AE4744;
          text-decoration: none; }
          .lk-blog-content .lk-blog-list-item .footer div.copyright li a:hover {
            text-decoration: underline; }
    .lk-blog-content .lk-blog-list-item .footer h2.extend-read {
      border-left: 5px solid #AE4744;
      padding: 5px;
      padding-left: 10px;
      margin: 20px 0;
      background: #fff;
      font-size: 20px;
      background-color: #f8f9f7; }
    .lk-blog-content .lk-blog-list-item .footer ol.extend-read-list li {
      list-style-type: none;
      line-height: 25px;
      position: relative; }
      .lk-blog-content .lk-blog-list-item .footer ol.extend-read-list li::before {
        content: '\2744';
        display: block;
        color: #38673B;
        font-size: 16px;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0px; }
      .lk-blog-content .lk-blog-list-item .footer ol.extend-read-list li a {
        display: inline-block;
        color: #AE4744;
        text-decoration: none;
        text-indent: 20px; }
        .lk-blog-content .lk-blog-list-item .footer ol.extend-read-list li a:hover {
          text-decoration: underline; }
    .lk-blog-content .lk-blog-list-item .footer .share {
      text-align: center;
      border-top: 1px solid #e1e2e0;
      border-bottom: 1px solid #e1e2e0;
      padding: 30px 0; }
      .lk-blog-content .lk-blog-list-item .footer .share a {
        display: inline-block;
        line-height: 25px;
        margin-right: 15px;
        font-size: 45px;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        -webkit-transition: all .3s linear;
                transition: all .3s linear; }
        .lk-blog-content .lk-blog-list-item .footer .share a:hover {
          opacity: 0.5; }
      .lk-blog-content .lk-blog-list-item .footer .share a:nth-child(1) {
        color: #f46753; }
      .lk-blog-content .lk-blog-list-item .footer .share a:nth-child(2) {
        color: #5ac64f; }
      .lk-blog-content .lk-blog-list-item .footer .share a:nth-child(3) {
        color: #fbb611; }
      .lk-blog-content .lk-blog-list-item .footer .share a:nth-child(4) {
        color: #ff7171; }
      .lk-blog-content .lk-blog-list-item .footer .share a:nth-child(5) {
        color: #7ba2e8; }
  .lk-blog-content .publish {
    padding: 10px 0; }
  .lk-blog-content .lk-blog-comments {
    mine-height: 500px;
    background-color: #fff;
    padding: 20px 30px 25px 30px;
    -webkit-transition: all .3s linear;
            transition: all .3s linear; }
    .lk-blog-content .lk-blog-comments:hover, .lk-blog-content .lk-blog-comments:active {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    .lk-blog-content .lk-blog-comments .emotion-container {
      width: 100%;
      line-height: 36px;
      font-size: 18px;
      background-color: #fcfcfc;
      border-color: #e5e6e4;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
      .lk-blog-content .lk-blog-comments .emotion-container .inner {
        margin: 10px; }
      .lk-blog-content .lk-blog-comments .emotion-container #emotion-ctr {
        cursor: pointer; }
  .lk-blog-content .comment-list {
    width: 100%
    /*second class replay class css style*/ }
    .lk-blog-content .comment-list .avatar {
      width: 10%;
      margin: 12px 0 0 0; }
      .lk-blog-content .comment-list .avatar img {
        border-radius: 50%;
        width: 100%; }
    .lk-blog-content .comment-list .comment-content {
      width: 90%; }
      .lk-blog-content .comment-list .comment-content p {
        padding: 10px 0 0 10px;
        line-height: 25px; }
        .lk-blog-content .comment-list .comment-content p span {
          display: inline-block; }
        .lk-blog-content .comment-list .comment-content p .replay {
          color: #8b8b8a;
          text-decoration: none; }
          .lk-blog-content .comment-list .comment-content p .replay:hover {
            color: #a4a4a4; }
        .lk-blog-content .comment-list .comment-content p .date-time {
          padding: 0 10px; }
    .lk-blog-content .comment-list .subcomment-list {
      margin: 10px 0 10px 0;
      background-color: #eee;
      border-left: 3px solid #ae4744;
      padding: 0 0 3px 0; }

.lk-blog-side-bar {
  width: 320px;
  margin: 0 10px
  /*side bar css style*/ }
  .lk-blog-side-bar .lk-blog-side-item {
    background-color: #fff;
    /*sina custom avatar card*/
    /*common widget title and other css style*/
    margin-bottom: 20px; }
    .lk-blog-side-bar .lk-blog-side-item ul.category, .lk-blog-side-bar .lk-blog-side-item ul.hotnews {
      padding: 0; }
      .lk-blog-side-bar .lk-blog-side-item ul.category li, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li {
        width: 100%;
        list-style-type: none;
        height: auto;
        position: relative;
        line-height: 40px; }
        .lk-blog-side-bar .lk-blog-side-item ul.category li a, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li a {
          display: inline-block;
          text-decoration: none;
          color: #787a78;
          line-height: 40px;
          text-indent: 40px;
          height: 40px;
          overflow: hidden;
          vertical-align: middle;
          text-overflow: ellipsis;
          -webkit-transition: all .5s linear;
                  transition: all .5s linear;
          width: 100%; }
          .lk-blog-side-bar .lk-blog-side-item ul.category li a:hover, .lk-blog-side-bar .lk-blog-side-item ul.category li a.active, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li a:hover, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li a.active {
            background-color: #f8f9f7;
            color: #D77774; }
            .lk-blog-side-bar .lk-blog-side-item ul.category li a:hover::after, .lk-blog-side-bar .lk-blog-side-item ul.category li a.active::after, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li a:hover::after, .lk-blog-side-bar .lk-blog-side-item ul.hotnews li a.active::after {
              position: absolute;
              content: '';
              display: block;
              width: 6px;
              height: 100%;
              right: 0;
              top: 0;
              background-color: #484947; }
    .lk-blog-side-bar .lk-blog-side-item ul.hotnews {
      counter-reset: section; }
      .lk-blog-side-bar .lk-blog-side-item ul.hotnews li {
        position: relative; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li::before {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          left: 5px;
          top: 50%;
          margin-top: -10px;
          width: 20px;
          height: 20px;
          color: #fff;
          border-radius: 50%;
          background-color: #00a65a;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li:nth-child(1)::before {
          background-color: #f46753; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li:nth-child(2)::before {
          background-color: #5ac64f; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li:nth-child(3)::before {
          background-color: #7ba2e8; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li:nth-child(4)::before {
          background-color: #fbb611; }
        .lk-blog-side-bar .lk-blog-side-item ul.hotnews li:nth-child(5)::before {
          background-color: #f46753; }
    .lk-blog-side-bar .lk-blog-side-item ul.secondary a {
      padding-left: 40px; }
@-webkit-keyframes avatarEffect {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes avatarEffect {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
    .lk-blog-side-bar .lk-blog-side-item .sina-avatar-wall-bg {
      width: 100%;
      height: 110px;
      background-image: url(../images/sina_cover_bg.jpg);
      background-size: cover;
      position: relative;
      -webkit-animation: avatarEffect 2s linear;
              animation: avatarEffect 2s linear;
      z-index: 1; }
    .lk-blog-side-bar .lk-blog-side-item .sina-avatar-container {
      width: 90px;
      height: 90px;
      position: absolute;
      top: 65px;
      left: 50%;
      margin-left: -45px;
      z-index: 3; }
      .lk-blog-side-bar .lk-blog-side-item .sina-avatar-container img {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        background-color: #fff; }
        .lk-blog-side-bar .lk-blog-side-item .sina-avatar-container img:hover {
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6); }
      .lk-blog-side-bar .lk-blog-side-item .sina-avatar-container .icon {
        display: inline-block;
        position: absolute;
        color: #fff;
        background-color: #2eb0f9;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        right: 0;
        bottom: 0px;
        text-align: center;
        vertical-align: middle; }
    .lk-blog-side-bar .lk-blog-side-item .sina-avatar-name {
      margin: 58px 0 0 0;
      font-weight: 400; }
    .lk-blog-side-bar .lk-blog-side-item .sina-info {
      padding: 25px 0 0 0;
      border-top: 1px solid #e5e5e5;
      height: 63px;
      line-height: 63px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .lk-blog-side-bar .lk-blog-side-item .sina-info .info {
        color: #58596f; }
        .lk-blog-side-bar .lk-blog-side-item .sina-info .info span {
          display: block;
          text-align: center;
          height: 15px;
          line-height: 15px; }
          .lk-blog-side-bar .lk-blog-side-item .sina-info .info span.num {
            margin-bottom: 10px; }
    .lk-blog-side-bar .lk-blog-side-item .inner {
      padding: 0 20px; }
      .lk-blog-side-bar .lk-blog-side-item .inner h2.title {
        font-weight: 400;
        color: #212322;
        border-bottom: 1px solid #e8e9e7;
        height: 40px;
        margin: 0 0 0 0;
        padding: 0;
        line-height: 40px;
        text-indent: 5px;
        font-size: 16px; }
      .lk-blog-side-bar .lk-blog-side-item .inner .content {
        min-height: 150px; }

/*tags list diffrent colors*/
.lk-tags-list {
  width: 100%; }

.lk-tags-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0; }

.lk-tags-list a {
  min-width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  text-decoration: none; }
  .lk-tags-list a:hover {
    text-decoration: underline; }

.lk-tags-red a:nth-child(4) {
  color: #eb1f48; }
.lk-tags-red a:nth-child(3) {
  color: #ed365b; }
.lk-tags-red a:nth-child(2) {
  color: #ef4e6e; }
.lk-tags-red a:nth-child(1) {
  color: #f16581; }
.lk-tags-red a:nth-child(0) {
  color: #f37c94; }
.lk-tags-red a:nth-child(-1) {
  color: #f594a7; }
.lk-tags-red a:nth-child(-2) {
  color: #f7abba; }
.lk-tags-red a:nth-child(-3) {
  color: #fac3ce; }
.lk-tags-red a:nth-child(-4) {
  color: #fcdae1; }
.lk-tags-red a:nth-child(-5) {
  color: #fef1f4; }
.lk-tags-red a:nth-child(-6) {
  color: white; }
.lk-tags-red a:nth-child(-7) {
  color: white; }
.lk-tags-red a:nth-child(-8) {
  color: white; }
.lk-tags-red a:nth-child(-9) {
  color: white; }
.lk-tags-red a:nth-child(-10) {
  color: white; }
.lk-tags-red a:nth-child(-11) {
  color: white; }
.lk-tags-red a:nth-child(-12) {
  color: white; }
.lk-tags-red a:nth-child(-13) {
  color: white; }
.lk-tags-red a:nth-child(-14) {
  color: white; }
.lk-tags-red a:nth-child(-15) {
  color: white; }
.lk-tags-red a:nth-child(6) {
  color: #c51236; }
.lk-tags-red a:nth-child(7) {
  color: #ad102f; }
.lk-tags-red a:nth-child(8) {
  color: #960e29; }
.lk-tags-red a:nth-child(9) {
  color: #7f0b22; }
.lk-tags-red a:nth-child(10) {
  color: #67091c; }
.lk-tags-red a:nth-child(11) {
  color: #500716; }
.lk-tags-red a:nth-child(12) {
  color: #38050f; }
.lk-tags-red a:nth-child(13) {
  color: #210309; }
.lk-tags-red a:nth-child(14) {
  color: #0a0103; }
.lk-tags-red a:nth-child(15) {
  color: black; }
.lk-tags-red a:nth-child(16) {
  color: black; }
.lk-tags-red a:nth-child(17) {
  color: black; }
.lk-tags-red a:nth-child(18) {
  color: black; }
.lk-tags-red a:nth-child(19) {
  color: black; }
.lk-tags-red a:nth-child(20) {
  color: black; }
.lk-tags-red a:nth-child(21) {
  color: black; }
.lk-tags-red a:nth-child(22) {
  color: black; }
.lk-tags-red a:nth-child(23) {
  color: black; }
.lk-tags-red a:nth-child(24) {
  color: black; }
.lk-tags-red a:nth-child(25) {
  color: black; }
.lk-tags-red li:nth-child(11) {
  color: #DC143C; }

/*post form error part*/
.lk-post-error {
  background-color: #d08a88;
  line-height: 25px;
  text-align: left;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  display: none; }

.has-error {
  box-shadow: 0 0 5px #ae4744; }

textarea + .lk-post-error {
  top: 20px;
  right: 10px; }

/*# sourceMappingURL=blog.css.map */