/*
 1.this is app core css style please don't modified it except some situation
 2.all the css style that must use 'mgtl-' prefix
*/
$browser-default-font-size:20px !default;
$default-font-color:#999;
$calc-width:'-webkit-calc(100% - 1rem)';
@function pxTorem($px) {
  @return $px / $browser-default-font-size *1rem;
}
/*common style */
body,html{
  font-family: STHeiti,"Microsoft YaHei",SimSun,arial;
  height:100%;
}
.rel{
  position: relative;
}
.abs{
  position:absolute;
}
.pdlr20{
  padding:0 pxTorem(20px) 0 pxTorem(20px);
}
.mgtl-header{
  position: fixed;
  z-index: 10;
}
.mgtl-logo{
  width:pxTorem(100px);
  height: pxTorem(31px);
  vertical-align: middle;
}
.landscape{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 99;
  background: url("../images/portrait.gif") no-repeat center center #000;
  background-size:contain;
  left:0;
  top:0;
  bottom:0;
  right:0;
  display: none;
}
.loader{
  display: none;
  font-size:pxTorem(13px);
  position: absolute;
  width:100%;
  height:100%;
  z-index: 99;
  background: radial-gradient(ellipse at center,#bb241f 0,#a82121 42%,#791512 100%);
  left:0;
  top:0;
  bottom:0;
  right:0;
  color:#fff;
  .logo{
    margin:pxTorem(256px) auto 0 auto;
  }
  .loading{
    position: absolute;
    left:0;
    right:0;
    bottom:pxTorem(156px);
    div{
      padding:pxTorem(5px) 0;
    }
    .loading-progress{
      font-size: pxTorem(18px);
      margin-bottom: pxTorem(10px);
    }
    .text{
      font-weight: 400;
      text-transform: uppercase;
    }
    .version{
      font-weight: 400;
      margin:pxTorem(20px) 0 0 0;
    }
  }
}
/*slider css*/
.aui-slide-node img {
  width: 100%;
}

/*语言下拉菜单*/
.language{
  position: relative;
  width:pxTorem(35px);
  height: pxTorem(35px);
  a{
    display: block;
    height: pxTorem(27px);
    margin: pxTorem(5px) 0;
  }
  .icon-lang{
    background-image: url(../images/lang.png);
    background-position: 0 0;
    display:inline-block;
    width:pxTorem(27px);
    height: pxTorem(27px);
  }
  .lang-zh{
    background-position: -87px -5px;
  }
  .lang-tw{
    background-position: -116px -79px;
  }
  .lang-en{
    background-position: -50px -42px;
  }

  .language-list{
    display: none;
    position: absolute;
    width:35px;
    text-align: center;
    padding-bottom:pxTorem(10px);
    background: rgba(0,0,0,0.6);
    border-bottom-left-radius: pxTorem(20px);
    border-bottom-right-radius: pxTorem(20px);
    border-top-left-radius: pxTorem(20px);
    border-top-right-radius: pxTorem(20px);
  }
}
.mgtl-content-fixed{
  margin:2.25rem 0 0 0;
}
.mgtl-content-bg{
  background:url("../images/bg.png") no-repeat center center;
  background-size:cover;
  overflow-y: auto;
  height:100%;
  img{
    width:pxTorem(140px);
  }
  .aui-grid-label{
    text-transform: uppercase;
  }

}
.bd-lightwhite{
  border:1px solid rgba(255,255,255,.2);
}
/*navlist icon*/
.icon-nav{
  background-image: url(../images/spritesheetx1_h.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display:inline-block;
  width:pxTorem(45px);
  height: pxTorem(45px);
  margin: 0 auto;
  background-size: cover;
}
.icon-nav-home{
  background-position: pxTorem(-270px) 0;
}
.icon-nav-sports{
  background-position: pxTorem(-585px) 0;
}

.icon-nav-bbsports{
  background-position: pxTorem(-45px) 0;
}

.icon-nav-bbin{
  background-position: pxTorem(-360px) 0;
}

.icon-nav-lotery{
  background-position: pxTorem(-360px) 0;
}

.icon-nav-bbcasino{
  background-position: pxTorem(-90px) 0;
}

.icon-nav-mgcasino{
  background-position: pxTorem(-810px) 0;
}

.icon-nav-aglive{
  background-position: pxTorem(-945px) 0;
}
.icon-nav-gdlive{
  background-position: pxTorem(-855px) 0;
}
.icon-nav-paycompany{
  background-position: 0 0;
}

.icon-nav-withdraw{
  background-position: pxTorem(-675px) 0;
}
.icon-nav-switchmoney{
  background-position: pxTorem(-630px) 0;
}

.icon-nav-ucenter{
  background-position: pxTorem(-450px) 0;
}

.icon-nav-kefu{
  background-position: pxTorem(-540px) 0;
}

.icon-nav-promotion{
  background-position: pxTorem(-135px) 0;
}
.icon-nav-collect{
  background-position: pxTorem(-180px) 0;
}
.icon-nav-takemoney{
  background-position: pxTorem(-720px) 0;
}

.icon-nav-forgetpwd{
  background-position: pxTorem(-720px) 0;
}
.mgtl-navlist{
  [class*=aui-col-]{
    padding:0.45rem 0;
  }
}

/*footer*/
.mgtl-footer-navbar{
  width:100%;
  height:pxTorem(2px);
  background: #db8400;
  position: fixed;
  display: block;
  left:0;
  bottom:2.35rem;
  z-index: 11;
}
/*material design effect*/
.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: ripple-animation 3s;
}
@keyframes ripple-animation {
  from {
    transform: scale(0);
    opacity: 0.4;
  }
  to {
    transform: scale(15);
    opacity: 0;
  }
}

/*reg*/
.mgtl-main-content{
  background: #222;
  height:100%;
}
/*默认颜色值 要新增请在这里新增*/
.col-gre{color: #58ffcc;}
.col-blue{color: #00ff00;}
.col-blu{color: #00ffff;}
.col-red{}
.col-green{}
.col-light-green{}
.col-purple{}
.col-yellow{}