/*×é¼þÑùÊ½¶¨Òå*/
body{
   width:100%;
   height:100%;
   overflow: hidden;
}
.rel{
    position:relative;
}
.abs{
    position: absolute;
}

#ed-top-tools-bar{
    padding:8px;
}
.ed-box-shadow{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#ed-body{
    width:100%;
    height:100%;
    margin:0 auto;
    padding-top:36px;
}
#ed-tab-bars{
    padding:5px 10px;
    background: #000;
    width:100%;
    height:35px;
    line-height: 50px;
}
.cl{
    clear: both;
}
#ed-tab-bars .ed-tab-bars-tab{
    padding: 0 25px;
    height:25px;
    line-height: 25px;
    text-align: center;
    color:#fff;
    background: #1abc9c;
    position: relative;
    float: left;
    margin-right:2px;
    display: inline-block;
    cursor: pointer;
}
#ed-tab-bars .ed-tab-bars-tab:hover,#ed-tab-bars  .active{
    opacity: 0.8
}
#ed-tab-bars .ed-tab-bars-tab span{
    display:inline-block;
    position: absolute;
    right:5px;
    top:0px;
    color:#000;
}

#ed-body-left{
    height:100%;
    width: 100%;
}
#ed-body-right{
    min-height:950px;
    width: 50%;
    display: none;
}
/*ÑÕÉ«ÏÂÀ­ÁÐ±í*/
#ed-color-panel-list{
    position: absolute;
    width:960px;
    left:200px;
    top:150px;
    background: #fff;
    padding:10px;
    display:none;
    z-index: 99;
}
#ed-color-panel-list .ed-panel-title{
    height:30px;
    line-height: 30px;
    width:100%;
    padding:0;
    margin:0;
    position: relative;
    cursor:move;
}
#ed-color-panel-list .ed-panel-title a{
    position: absolute;
    right:0;
    top:0;
    z-index: 100;
}
#ed-color-panel-list .ed-color-panel-body{

}
.color-swatches {
    overflow: hidden; /* clearfix */
    display: flex;
    flex-wrap:wrap-reverse;
    width:100%;
    transition:all 2s ease-in;
}
.color-swatch {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    margin: 10px 5px;
    border-radius: 3px;
    display: inline-block;
    color:#000;
    text-align: center;
    cursor: pointer;
    transition:opacity .5s ease-in .1s;
    font-weight: bold;
    text-shadow:0 0 5px rgba(255,255,255,0.3);
    background-size: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.color-swatch-default:before{
    content: '';
    display: block;
    width:100%;
    height:100%;
    z-index: -1;
    position: absolute;
    left:0;
    top:0;
    background: url(../images/default_bg.png) no-repeat left 30px;
    -webkit-filter:blur(2px);
}
.color-swatch:hover{
    opacity:0.5;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
.color-swatch-add{
    color:#000;
    text-align: center;
    position: relative;
}

/* ¿ÉÄÜÓÃµ½µÄÑùÊ½ÁÐ±í colors */
.color-swatches .col-gray-darker {
    background-color: #222;
}
.color-swatches .col-gray-dark {
    background-color: #333;
}
.color-swatches .col-gray {
    background-color: #555;
}
.color-swatches .gray-light {
    background-color: #999;
}
.color-swatches .col-gray-lighter {
    background-color: #eee;
}
.color-swatches .col-brand-primary {
    background-color: #337ab7;
}
.color-swatches .col-brand-success {
    background-color: #5cb85c;
}
.color-swatches .col-brand-warning {
    background-color: #f0ad4e;
}
.color-swatches .col-brand-danger {
    background-color: #d9534f;
}
.color-swatches .col-brand-info {
    background-color: #5bc0de;
}
.color-swatches .col-bs-purple {
    background-color: #563d7c;
}
.color-swatches .col-bs-purple-light {
    background-color: #c7bfd3;
}
.color-swatches .col-bs-purple-lighter {
    background-color: #e5e1ea;
}
.color-swatches .col-bs-gray {
    background-color: #f9f9f9;
}

/*±à¼­Æ÷²¿·ÖÑùÊ½*/
body,html{
  width: 100%;
  height: 100%;
}
#ed-editor{
  height: 1200px;
   width: 100%;
   padding: 0;
   margin: 0;
   overflow: scroll;
   border: 0;
}
.ed-body-right-reslut{
    width:100%;
    height:100%;
    border:none;
    margin:0;
    padding:0;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.1) ;

}

/*弹窗组件*/
.ed-ui-popwindow {
    width:60%;
    height:40%;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-30%,-20%);
    background: #fff;
    z-index: 99;
    padding: 15px;

}
.ed-ui-pop-content{
    height:95%;
    overflow: hidden;
}
.ed-ui-poptitle{
    margin:0;
    cursor: move;
    padding:15px;
}
.ed-ui-poptitle  span.title{
    font-size:30px;
}
.color-swatch-add-effect{
   animation-name:skeweffect;
   animation-duration:2s;
   animation-timing-function:ease-out;
}
.color-swatch-add-effect .close,.ed-ui-popwindow .close{
    display:block;
    position: absolute;
    right:0;
    top:0;
    width:20px;
    height:20px;
    color:#fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    transition:color .3s ease-out;
}
.ed-ui-popwindow .close{
    color:#000;
}
.color-swatch-add-effect .close:hover{
    color:red;
}
@keyframes skeweffect{
    0% {
        transform: translate3d(150%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

/*UI样式类*/
.lk-ui-move{
    cursor: move;
}
/*个人用户中心样式*/
.ed-about{
   
}
.ed-about-side{
   width:151px;
   float:left;
   padding:10px;
}
.ed-about-side p{
    font-size: 14px;
    text-align: center;
    line-height: 1;
    margin:10px 0 0 0 ;
}
.ed-about-author{
   width:93px;
   height:93px;
   background: url(../images/browser-author.jpg) no-repeat left top;
   border-radius: 50%;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   margin:0px auto 10px auto;
} 
.ed-about-action{

}
.ed-about-content{
    background: #34495e;
    border-radius:5px;
    padding:10px;
    overflow: hidden;
    display:flex;
    flex-wrap:wrap;
    height: 300px;
    width:410px;
    margin:0;
}
.ed-about-content img{
    display:inline-block;
    width:100px;
    height:100px;
    margin:0 10px 10px 0;
    border:6px #fff solid;
}

/*左侧工具栏位*/
.ed-left-sidebar-fixed{
    width:200px;
    min-height: 500px;
    background: #34495e;
    position: fixed;
    right:-200px;
    bottom:100px;
    z-index: 99;
    color:#fff;
    box-shadow: 0 0 25px rgba(255,255,255,0.1);
}
.ed-left-sidebar-fixed .ed-tools-bar-area{
    padding:0 10px;
}
.ed-left-sidebar-fixed  .ed-tools a{
  color:#fff;
} 
.ed-left-sidebar-fixed  .ed-tools a:hover{
  color:#1abc9c;
} 
.ed-left-sidebar-fixed  .ed-small-tools img{
  display:inline-block;
  width:47px;
  margin:5px;
} 
.ed-left-sidebar-fixed .ed-tools-bar-area span{
    margin:5px;
    font-size:24px;
}
.ed-left-sidebar-touch{
    position: absolute;
    right:191px;
    top:200px;
    color:#34495e;
    font-size:40px;

}
.ed-left-sidebar-touch span{
    animation-name:fadeInOut;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

@keyframes fadeInOut{
      0%{
            opacity: 1;
      }
      25%{
            opacity: 0.25;
      }
      50%{
            opacity: 0.5;
      }
      70%{
            opacity: 0.75;
      }
      100%{
           opacity: 1;
      }
}
/*日历组件*/
.ed-calendar-container{
    width:350px;
    height:386px;
    margin:0 auto;
}
.ed-calendar-inner{
    width:320px;
    margin:0 auto;
    background: #fff;
    position: relative;
    height:100%;
}
.ed-calendar-top-area{
    width:100%;
    height:155px;
    background: url("../images/calendar_bg.png") no-repeat center top;
    position: relative;
    text-align: center;
}
.ed-calendar-next,.ed-calendar-pre{
    display: block;
    position: absolute;
    top:65px;
    width:30px;
    height:30px;
    opacity: 1;
    transition: all linear .3s;
}
.ed-calendar-next:hover,.ed-calendar-pre:hover{
    opacity: 0.5;
}
.ed-calendar-pre{
    left:-30px;
   background: url("../images/pre.png") no-repeat left top;
}
.ed-calendar-next{
    right:-30px;
    background: url("../images/next.png") no-repeat left top;
}
.ed-calendar-txt{
    display: inline-block;
    color:#fff;
    padding-top:46px;
}
.ed-calendar-txt span{
    display: inline-block;
    width:100%;
}
.ed-calendar-txt-day{
    font-size: 44px;
    font-weight: bold;
}
.ed-calendar-txt-year-month{
    font-size: 18px;
}
.ed-calendar-date{
    padding:22px 12px;
    height:187px;
}
.ed-calendar-date table{
   height:100%;
}
.ed-calendar-date table tr{
    height:26px;

}
.ed-calendar-date table tr td,.ed-calendar-date table tr th{
    width:26px;
    height:26px;
    text-align: center;
}
.ed-calendar-date table tr td.cur,.ed-calendar-date table tr td:hover{
    background: #83c82f;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.SkewIn{
    animation-name: skew;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes skew {
    0% {
        transform: translate3d(20%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
#ed-body-left,#ed-body-right{
    float: left;
    height: 100%;
    margin-left: 0px;
}
/*新增的左右分屏效果的拖动*/
#ed-body-spiler{
    float: left;
    width: 3px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    cursor: e-resize;
    height: 100%; 
}
#ed-right-ctrl-bar{
    margin-right:0px;
    display:none;
}