<html>
<head>
	<meta charset="UTF-8">
	<block name="title"><title>{title}}</title></block>
	<!--font-awesome-->
    <link rel="stylesheet" href="__PUBLIC__/Font-Awesome/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bs/bootstrap.css" rel="stylesheet">
    <!--是否引入主题-->
    <!--<link rel="stylesheet" href="__PUBLIC__/bs/bootstrap-theme.min.css"/>-->
    <!--引入页面重置样式-->
    <link rel="stylesheet" href="__PUBLIC__/css/lknews.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/lib/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/lib/jquery-1.10.0.min.js"></script>
	<script src="__PUBLIC__/bs/bootstrap.min.js"></script>
    <!--针对苹果设备的一些优化和功能体验-->
    <link rel="apple-touch-icon" href="__PUBLIC__/images/icon.png" ><!--添加至桌面-->
    <meta name="apple-mobile-web-app-capable" content="yess"><!--是否允许全屏-->
</head>
<body>